.scoreboard {
  width: 512px;
  height: 256px;
  display: flex;
  justify-content: space-between;
  outline: 1px solid #036cdb !important;
}

@font-face {
  font-family: "D-DIN-Bold"; /* Nommez la police comme vous le souhaitez, ce nom est utilisé pour la référence */
  src: local("D-DIN-Bold"),
    /* Nom pour rechercher la police localement sur l'ordinateur de l'utilisateur */
      url("../../fonts/D-DIN-Bold.otf") format("opentype"); /* Ajustez le chemin selon l'endroit où vous avez placé votre fichier .otf */
  font-weight: bold; /* Ici, c'est 'bold' parce que la police est déjà une version 'bold' */
  font-style: normal;
}

body {
  font-family: "D-DIN-Bold";
  margin: 0px !important;
  background-color: #000000;
  height: 256px;
  width: 512px;
  overflow: hidden;
}

.team-display {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  align-self: flex-start;
}

.arrow-icon-left {
  clip-path: polygon(100% 0%, 82.4% 49.5%, 100% 100%, 0% 50%);
  background: #ff0000;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.arrow-icon-right {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 25% 50%);
  background: #ff0000;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.team-name-right {
  direction: rtl;
}

.team-name-display {
  display: inline-block;
  max-width: 120px;
  min-width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ffffff;
  font-size: 45px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.team-score-display {
  color: #ff0000;
  font-size: 80px;
  height: 75px;
  margin-top: -10px;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  align-self: flex-start;
}

.period {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.logo {
  width: 180px;
}

.period-number {
  margin: 0 10px 0 10px;
  color: #00a13b;
  font-size: 50px;
  height: 61px;
}

.timer {
  font-size: 70px;
}

.time-logo {
  display: flex;
  margin-top: 40px;
}

.timeout-display {
  display: flex;
  flex-direction: column;
  width: 80px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.circleIcon {
  margin-top: 3px;
  border-radius: 10px;
  height: 15px;
  width: 15px;
  font-size: 15px !important;
}

.circleIcon.filled {
  background: #00a13b;
}

.circleIcon.empty {
  background: transparent;
  border: 2px solid #00a13b; /* or another color if you want */
}

.timeout {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeout-texte {
  color: #f9e930;
  font-size: 50px;
}

.timeout-right {
  align-items: flex-end;
}
.timeout-left {
  align-items: flex-start;
}

.hidden {
  background: black;
}

.logo-fiba {
  margin-top: 15px;
  margin-left: 15px;
  width: 30px;
  height: 100%;
}
